<!DOCTYPE html>
<html lang="en">

<head>
    <title>BİG DATA</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" href="~/Template/template\flat-able-lite\dist\assets/images/favicon.ico" type="image/x-icon">

    <!-- prism css -->
    <link rel="stylesheet" href="~/Template/template\flat-able-lite\dist\assets/css/plugins/prism-coy.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="~/Template/template\flat-able-lite\dist\assets/css/style.css">



</head>

<body>
    <!-- [ Pre-loader ] start -->
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <!-- [ navigation menu ] end -->
    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light header-dark">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="dropdown-toggle h-drop" href="#" data-toggle="Ara">
                            Ara
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown mega-menu">
                        <a class="dropdown-toggle h-drop" href="#" data-toggle="İstatistikler">
                            İstatistik
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->
    <div>
        @RenderBody() 
     </div>
    <!-- [ Main Content ] end -->
    <!-- Warning Section start -->
    <!-- Older IE warning message -->
    <!-- Warning Section Ends -->
    <!-- Required Js -->
    <script src="~/Template/template/flat-able-lite/dist/assets/js/vendor-all.min.js"></script>
    <script src="~/Template/template/flat-able-lite/dist/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/Template/template/flat-able-lite/dist/assets/js/pcoded.min.js"></script>

    <!-- prism Js -->
    <script src="~/Template/template\flat-able-lite\dist\assets/js/plugins/prism.js"></script>
</body>

</html>
